.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgb(201, 188, 244) 0%, rgb(255, 255, 255) 95.83%);
    border-radius: 20px;
    padding: 20px 0;
}

.body{
    margin: 50px 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.logo > img {
    height: 100px;
    margin: 10px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    color: rgba(2, 6, 12, 0.75);
}

.restaurant-card {
    border-radius: 20px;
    width: 200px;
    
}

.restaurant-card:hover {
    background-color:lightgray;
}

.restaurant-card > img {
    width: 100%;
    height: 180px;
    border-radius: 20px;
}

.searchBar {
    margin: 20px 0;
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    box-shadow: rgba(27, 30, 36, 0.1) 0px 8px 16px 0px;
    color: gray;
    display: flex;
} 

.search-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px; 
  }

.restaurant-container {
    flex-wrap: wrap;
    display: flex;
    gap: 60px;
    margin-top: 50px;
}

.restaurant-card-footer {
    padding: 5px;
}

.restaurant-card-footer > h4 {
    margin: 0px;
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    overflow-wrap: break-word;
}

.restaurant-card-footer > p {
    font-size: 15px;
    margin: 0;
    color: green;
}

.footer-container {
    background: linear-gradient(0deg, rgb(201, 188, 244) 0%, rgb(255, 255, 255) 95.83%);
    padding: 10px;
    z-index: 1000;
    min-height: 100px;
  }
  